html,
body {
  font-family: 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  background-color: rgb(245, 245, 246);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-container svg {
  color: #fff
}

a {
  text-decoration: none;
}